pkgbase = synguard
	pkgdesc = SynapseOS AI-driven security monitor and threat classifier
	pkgver = 0.1.0
	pkgrel = 41
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = meson
	makedepends = ninja
	makedepends = gcc
	makedepends = pkg-config
	makedepends = clang
	makedepends = bpf
	depends = glibc
	depends = systemd-libs
	depends = libbpf
	optdepends = synapd: AI threat classification
	source = synguard-0.1.0.tar.gz::https://github.com/velle999/synguard/releases/download/0.1.0-41/synguard-0.1.0.tar.gz
	sha256sums = SKIP

pkgname = synguard
